.activity-container {
  margin: auto !important;

  .delete-activity {
    color: red !important;
    margin-left: 3%;
  }
  .edit-activity {
    color: blue !important;
  }
  .view-detail {
    color: black !important;
  }
}
