.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    align-self: center;
  }
  .card-header {
    text-transform: capitalize;
  }
}

.detail-container {
  .card,
  .buttons{
    margin: 0 auto;
  }

  .buttons{
    width: 40%;
    button {
      width: 20%;

      &:nth-child(2) {
        float: right;
      }
    }
  }
}
