.home-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .bg{
    background-image: url('../assets/home-background.jpg');
    background-size: cover;
    height: 100%;
    padding-left: 10%;
    text-align: center;
    display: flex;
    align-items: center;

    .basic-info {
      padding: 1% 3% 3% 3%;
      width: 33%;
    }

    .duration {
      margin-bottom: 5%;
    }

    .date-container {
      margin: 2%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;

      .datepicker {
        margin-top: 1%;
        margin-right: 5%;
        padding: 5px;
        border-color: lightgray;
        border-style: solid;
        border-radius: 5px;
      }
    }
  }

}
