$primaryColor: #bada55;

.active {
  button{
    color:$primaryColor;
  }
}

.navbar {
  margin-bottom: 0 !important;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
}

.modal {
  width: 25% !important;
}

.login-register-content {
  display: flex;
  flex-direction: column;
  padding: 3%;
  align-items: center;

  .subButton {
    text-decoration: underline;
  }
  .input {
    margin-bottom: 2%;
  }
}

.error {
  color: red;
}
.dropdown-link{
  color: black;
  display: block;
  width: 200px;

}
