.container{
  height: 100%;
}

.review-trip-container {

}
.review-trip-planner{
  position: relative;
  background-image: url('../assets/review-background.jpg');
  background-size: cover;
  height: 100%;
  padding: 8%;
  top: 10%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
