.review-trip-container {
  height: 100%;
  background-image: url('../assets/review-background.jpg');
  background-size: cover;
  position: fixed;
  width: 100%;
  overflow: scroll;
  .title {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


}
.trip-detail-body{
  position: relative;
  background-size: cover;
  background-color: white;
  height: 95%;
  padding: 3% 8%;
  top: 30%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.review-trip-body {
  position: relative;
  top: 10%;
  padding: 3%;
}

.map-container{
  padding: 2%;
  #dropdown-label {
    margin-right: 2%;
  }
  #map{
    margin-bottom: 5%;
  }
}
