.hotel-value-container,
.hotel-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 2%;
  justify-content: unset;

  .hotel-name{
    margin-left: 1%;
    min-width: 50%;
  }
  .edit-activity {
    margin-left: 2%;
  }
}

.hotel-value-container{
  .input{
    margin-right: 2%;
    margin-left: 1%;
  }
}


.route-planner-container{
  overflow: scroll;

  .cards {
    width: 100%;
  }
  .day-container{
    width: 100% !important;
    margin: 5% !important;
  }
  .new-activity-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding: 0 25% !important;

    .new-activity-container {
      align-self: center;
    }
  }
  .save-share-buttons {
    bottom: 2%;
    margin-left: 38%;
  }
  .map-button {
    position: absolute;
    right: 5%;
  }
}
