
  .cards {
    width: 100%;
  }
  .search-view-container{
    padding: 5%;
    overflow: auto;
    display: inline-block;
  }
  .search-result {
    margin: auto !important;
  }
  .keywords{
    margin-right: 5%
  }
